<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-11-mobile is-10-tablet is-9-desktop is-8-widescreen">
        <h3 class="title is-3">Edit Post</h3>
        <div class="box">
          <form class="form" >
            <div class="field">
              <label class="label" for="title">Title</label>
              <div class="control">
                <input id="title" class="input" type="text" name="title" value="{{post.title}}" required />
              </div>
            </div>
            <div class="field">
              <label class="label" for="content">Content</label>
              <div class="control">
                <textarea id="content" class="textarea" name="content" rows="10" required>{{post.text}}</textarea>
              </div>
            </div>
            <div class="field">
              <label class="label" for="image">Image</label>
              <div class="control">
                <input id="image" class="file" type="file" name="image" />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary update-post-btn" 
                type="submit">Update</button>
                <button class="button is-light delete-post-btn" type="submit">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/editPost.js"></script>