<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-full-mobile is-10-tablet is-8-desktop is-8-widescreen">
        <h3 class="title is-3">Create New Post</h3>
        <div class="box">
          <form class="form" action="/api/post/" method="POST" enctype="multipart/form-data">
            <div class="field">
              <label class="label" for="title">Title</label>
              <div class="control">
                <input class="input" type="text" name="title" placeholder="" required/>
              </div>
            </div>
            <div class="field">
              <label class="label" for="content">Content</label>
              <div class="control">
                <textarea class="textarea" name="content" rows="10" placeholder="" required></textarea>
              </div>
            </div>
            <div class="field">
              <label class="label" for="image">Image</label>
              <div class="control">
                <input class="file" type="file" name="image" />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary" type="submit">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
