<a href="/dashboard/create">
<button class="btn post-btn"> Create a new Post</button>
</a>
  {{!-- <div class="user-post">
    <p>{{post.title}}</p>
    <p>{{post.content}}</p>
  </div>
</script> --}}