<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title has-text-centered">Login</h1>
        <div class="box">
          <form id="form-login">
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input id="email-login" class="input" type="email" name="email" placeholder="Your Email" required>
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input id="password-login" class="input" type="password" name="password" placeholder="Your Password"
                  required>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-primary" type="submit">Login</button>
              </div>
              <div class="control">
                <button class="button is-text" type="reset">Clear</button>
              </div>
            </div>

            <!-- Google Sign-In Button -->
            <div class="field">
              <a href="api/auth/google" class="google-login-button">
                <i class="fab fa-google google-icon"></i> Log In With Google
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/login.js"></script>