<section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title has-text-centered">Signup</h1>
          <div class="box">
            <form >
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input id="username-signup" class="input" type="text" name="name" placeholder="Your Name" required>
                </div>
              </div>

              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input id="email-signup" class="input" type="email" name="email" placeholder="Your Email" required>
                </div>
              </div>

              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input id="password-signup" class="input" type="password" name="password" placeholder="Your Password" required>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button id="signup-btn" class="button is-primary" type="submit">Signup</button>
                </div>
                <div class="control">
                  <button class="button is-text" type="reset">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/signup.js"></script>