<!-- Section Trip Planner -->
<section class="card-planner" id="planner">
    <header>
        <h2>Plan your trip!
        </h2>
    </header>
    <div class="form-content">
        <form class="form-content" id="form">
            <input id="leavingFrom" type="text" class="form-input input-from" name="from" placeholder="departing from:"
                autocomplete="on" required>
            <input id="destination" type="text" class="form-input input-to" name="to" placeholder="traveling to:"
                autocomplete="on" required>
            <label class="date-label" for="date">Departing on</label>
            <input id="departure" type="date" class="form-input input-date" name="date" required>
            <button id="submit-btn" type="submit" class="input-submit" name="submit">Submit</button>
        </form>
    </div>
    <div class="trip-result">
        <p>Total price in economy class, in USD: <span id="trip-result-price" type="text" class="spanclass"></span></p>
        <p>Your Itineraries are listed below: <span id="trip-result-itineraries" type="text" class="spanclass"></span></p>
            <p>Departure: <span id="trip-result-departure" type="date" class="yyyy-MM-dd'T'HH:mm:ss.SSS"></span></p>
            <p>Arrival: <span id="trip-result-arrival" type="date" class="yyyy-MM-dd'T'HH:mm:ss.SSS"></span></p>
        </form>
    </div>
</section>
<script src="/js/trip-handler.js"></script>