<!-- Section Trip Planner -->
<section class="card-planner" id="planner">
    <header>
        <h2>Plan your trip!
        </h2>
    </header>
    <div class="form-content">
        <form class="form-content" id="form">
            <input id="leavingFrom" type="text" class="form-input input-from" name="from" placeholder="departing from:"
                autocomplete="on" required>
            <input id="destination" type="text" class="form-input input-to" name="to" placeholder="traveling to:"
                autocomplete="on" required>
            <label class="date-label" for="date">Departing on</label>
            <input id="departure" type="date" class="form-input input-date" name="date" required>
            <button id="submit-btn" type="submit" class="input-submit" name="submit">Submit</button>
        </form>
    </div>
    <div class="trip-result">
        <p>Ticket price<span id="trip-result-price" type="text" class="result-content"></span></p>
        <form class="form-content">
            <label class="result-content" for="time">Departure time</label>
            <input id="departure-time" type="time" class="result-content">
            <label class="result-content" for="time">Arrival time</label>
            <input id="arrival-time" type="time" class="result-content">
        </form>
    </div>
</section>
<script src="/js/trip-handler.js"></script>