<!-- Section Trip Planner -->
<section class="card-planner" id="planner">
    <header>
        <h2>Plan your trip!
            </h2>
    </header>
    <div class="form-content">
        <form class="form-content" id="form">
            <input id="leavingFrom" type="text" class="form-input input-from" name="from" placeholder="departing from:"
                autocomplete="on" required>
            <input id="destination" type="text" class="form-input input-to" name="to" placeholder="traveling to:"
                autocomplete="on" required>
            <label class="date-label" for="date">Travel starts on</label>
            <input id="departure" type="date" class="form-input input-date" name="date" required>
            <button class="input-submit">Submit</button>
        </form>
    </div>
</section>